<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>
    <section id="top">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-blue">
            <a class="navbar-brand font-kai rm-padding font-md" href="index.html">{{site.title}}</a>
            <div class="nav-logo-holder"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item my-dropdown">
                        <a class="nav-link dropdown-toggle" href="consult.html">
                                    咨询项目
                            </a>
                        <div class="my-dropdown-menu">
                            <a class="dropdown-item" href="consult.html#">聊聊理想</a>
                            <a class="dropdown-item" href="#">留学申请</a>
                            <a class="dropdown-item" href="#">工作准备</a>
                            <a class="dropdown-item" href="#">综合咨询</a>
                        </div>
                    </li>
                    <li class="nav-item my-dropdown">
                        <a class="nav-link dropdown-toggle" href="essay.html">
                                    文书项目
                            </a>
                        <div class="my-dropdown-menu">
                            <a class="dropdown-item" href="essay.html#ps">个人陈述</a>
                            <a class="dropdown-item" href="essay.html#cv">简历</a>
                            <a class="dropdown-item" href="essay.html#rl">推荐信</a>
                            <a class="dropdown-item" href="essay.html#coach">全面指导</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">关于鱼跃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">联系客服</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="qa.html">Q/A</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div id="wrapper">
        {{ content }}
    </div>
    <footer class="bg-blue">
        <div class="container row footer-content">
            <div class="col-md-3">
                <h4>Links</h4>
            </div>
            <div class="col-md-3">
                <h4>Get in Touch</h4>
                <a href="mailto:yuyueinternational@gmail.com">Email: fleapus@gmail.com</a>
                <p>Wechat: FleapXLY</p>
            </div>
            <div class="col-md-3">
                <h4>Join Fleap</h4>
                <a href="#">Career</a>
            </div>
            <div class="col-md-3">
                <img src="../images/logoRed.png">
            </div>
        </div>
        <p class="copyright">&copy; 2017 Fleap {{site.title}}（美国）</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src="styles/main.js"></script>
</body>

</html>