<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fleap{{site.title}}（美国）</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
    <link rel="stylesheet" href="styles/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-105203158-1', 'auto');
        ga('send', 'pageview');
            
    </script>
</head>

<body>
    <section id="top">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-blue">
            <a class="navbar-brand font-kai rm-padding font-md" href="index.html">{{site.title}}</a>
            <div class="nav-logo-holder"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item my-dropdown">
                        <a class="nav-link dropdown-toggle" href="consult.html">
                                    咨询项目
                            </a>
                        <div class="my-dropdown-menu">
                            <a class="dropdown-item" href="consult.html#choice">人生选择</a>
                            <a class="dropdown-item" href="consult.html#ready">准备上路</a>
                        </div>
                    </li>
                    <li class="nav-item my-dropdown">
                        <a class="nav-link dropdown-toggle" href="essay.html">
                                    文书项目
                            </a>
                        <div class="my-dropdown-menu">
                            <a class="dropdown-item" href="essay.html#ps">个人陈述/推荐信</a>
                            <a class="dropdown-item" href="essay.html#cv">简历</a>
                            <a class="dropdown-item" href="essay.html#all">全套文书</a>
                            <a class="dropdown-item" href="essay.html#critique">招生官评分</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">关于鱼跃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">联系客服</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="qa.html">Q/A</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div id="wrapper">
        {{ content }}
    </div>
    <footer class="bg-blue">
        <div class="container-fluid row footer-content">
            <div class="col-md-4">
                <h4 class="topmargin">Links</h4>
                <a target="_blank" href="https://mp.weixin.qq.com/s/YKjQXc3hh4j3yPQOUp_jxg"><p class="rm-margin">Top15留学生最多的美国大学</p></a>
                <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzI4NzY4MDY1Nw==&mid=2247483714&idx=1&sn=2f88d12e7732055d0f4df183a92b848d&chksm=ebc8b0bcdcbf39aaa2178726d24e10368ce27d50b1269bfa5e6717b676bc56ca7d8ee5b2e329#rd"><p class="rm-margin">美国60%留学生都来自这些地区</p></a>
                <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzI4NzY4MDY1Nw==&mid=2247483722&idx=1&sn=104bd8ec0dae8f101223583791387134&chksm=ebc8b0b4dcbf39a26f53a7f257b64c11569298b843752ce8f05fe76d6838df654fa2c70e624f#rd"><p class="rm-margin">以《权力的游戏》S7E7分析“看美剧学英语”的可行性</p></a>
                <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzI4NzY4MDY1Nw==&mid=2247483714&idx=2&sn=2f2121ed4e1bae07b2118fdf3723c9dd&chksm=ebc8b0bcdcbf39aa8b442136b3d6045b4e61aca37311284aa7e649df5938cbff8ea9731140da#rd"><p class="rm-margin">课堂常用：“引擎盖儿下面”</p></a>
            </div>
            <div class="col-md-2">
                <h4 class="topmargin">Navigation</h4>
                <a href="index.html"><p class="rm-margin">首页</p></a>
                <a href="consult.html"><p class="rm-margin">深度交流</p></a>
                <a href="essay.html"><p class="rm-margin">招生官标准</p></a>
                <a href="about.html"><p class="rm-margin">关于鱼跃</p></a>
                <a href="index.html#contact"><p class="rm-margin">联系客服</p></a>
                <a href="qa.html"><p class="rm-margin">问题解答</p></a>
            </div>
            <div class="col-md-3">
                <h4 class="topmargin">Get in Touch</h4>
                <a href="mailto:customerservice@fleap.us">{{site.email}}</a>
                <p class="rm-margin">Wechat: FleapXLY</p>
                <h4 class="topmargin">Join Us</h4>
                <a href="mailto:careers@fleap.us">careers@fleap.us</a>
            </div>
            <div class="col-md-3">
                <img src="../images/logoRed.png">
            </div>
        </div>
        <p class="copyright text-center">&copy; 2017 Fleap {{site.title}}（美国）</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script>
        // highlight current nav link
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            }
        });
    </script>
</body>

</html>