/* red:#861e32 lightred: #cd3554 pink: #f29898 blue: #1d314b lightgray: rgba(226, 232, 238, .9)*/
body {
    font-family: "Times New Roman", Times, serif, STFangSong, "华文仿宋", FangSong, "仿宋";
    font-size: 1.2rem;
}
a {
    text-decoration: none !important;
    color: rgba(255,255,255,0.8);
}
.rm-padding {
    padding: 0;
}
.rm-margin {
    margin: 0;
}
.font-md {
    font-size: 1.8rem;
}
.font-kai {
    font-family: KaiTi, "楷体", STKaiTi, "华文楷体";
}
.bg-blue {
    background-color: rgba(29,49,75,.9);
}
.bg-red {
    background-color: #861e32;    
}
.bg-red-light {
    background-color: #cd3554;    
}
.nav-logo-holder {
    display: inline-block;
    min-width: 48px;
    min-height: 40px;
    background-image: url(../images/logoRed.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
}
.container-fluid:nth-child(odd) {
    background-color: rgba(226, 232, 238, .9);
}
/* bootstrap overwrite */
.navbar-brand {
    margin-right: 0;
}
.nav-item {
    margin: 0 .3rem 0 .3rem;
}
.dropdown-item {
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-dropdown {
    position: relative;
    display: inline-block;
}
.my-dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(226, 232, 238, .9);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.my-dropdown:hover .my-dropdown-menu {
    display: block;
}
.center-horizontal {
    margin: 0 auto;
}
.bg-lg {
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-shade {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.header-card {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    color: white;
    bottom: 30%;
    right: 20%;
}
#home .bg-lg {
    background-image: url("../images/homebg.jpg");
}
.section-gap {
    padding: 2rem 0 2rem 0;
}
.card-decoration {
    margin-bottom: 1rem;
    border-right: 4px solid transparent;
    transition: border-right .2s ease;    
}
.card-decoration:hover {
    border-right: 4px solid #cd3554;
}
.card-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-content {
    width: 65%;
}
.card-img {
    width: 34%;
    max-width: 220px;
}
.dash-separater {
    color: #cd3554;
    font-size: 2rem;
    margin: 0 auto;
}
.button-link {
    display: inline-block;
    padding: 8px 32px;
    border-radius: 4px;
    color: #1d314b;
    font-family: KaiTi, "楷体", STKaiTi, "华文楷体";
    background-color: #f29898;
    transition: background-color .2s ease, color .2s ease;
}
.button-link:hover {
    background-color: #cd3554;
    color: white;
}
.label-lg {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: KaiTi, "楷体", STKaiTi, "华文楷体";
    margin-bottom: 1rem;
}
.text-background {
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
.header-title {
    padding-bottom: .5rem;
    font-size: 4rem;
    font-family: KaiTi, "楷体", STKaiTi, "华文楷体";
}
.header-sub {
    margin-top: .5rem;
    font-size: 1.5rem;
}
.header-sub-sub {
    margin-top: .2rem;
    font-size: 1.2rem;
}
.icon-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-table-item {
    width: 15%;
    padding: 6px;
    min-width: 80px;
}
.nav-placeholder {
    height: 60px;
}
.program-card {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 2px solid rgba(0,0,0,0.6);
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
.program-content {
    font-size: 1rem;
    padding: 0 8px;
    margin: 1rem 0;
}
#ps .program-content:nth-child(even) {
    background-color: rgba(226, 232, 238, .9);    
}
#all .program-content:nth-child(odd) {
    background-color: rgba(226, 232, 238, .9);    
}
#cv .program-content:nth-child(even) {
    background-color: rgba(255,255,255,0.8);    
}
#critique .program-content:nth-child(odd) {
    background-color: rgba(255,255,255,0.8);    
}
.program-title {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.program-pricing {
    text-align: center;
}



footer {
    display: flex;
    flex-direction: column;
    color: rgba(255,255,255,0.8);
    font-size: 1rem;
}
.footer-content {
    padding-top: 1rem;
    margin: 0 auto;
}
.copyright {
    margin: 0 auto;
    padding-bottom: 1rem;
}